@model User
@{
    Layout = "_LayoutAuth";
}

<h1>Авторизация</h1>
<form asp-controller="Proxy" asp-action="Check">
    <p>
        <label asp-for="login">login</label><br />
        <input type="text" asp-for="login" />
    </p>
    <p>
        <label asp-for="password">password</label><br />
        <input type="text" asp-for="password" />
    </p>
    <p>
        <input type="submit" value="Отправить" />
    </p>
</form>
